apiVersion: automation.ibm.com/v1alpha1
kind: CloudRockCluster
metadata:
  name: "{{ mcsp_cluster_name }}"
  namespace: "{{ mcsp_control_plane_namespace }}"
spec:
  infrastructure: "{{ mcsp_platform }}"
  kube_version: "{{ ocp_version }}"
  location: "{{ mcsp_region }}"
  multiaz: true
  vpc:
    name: "{{ mcsp_cluster_vpc_name }}"
  workerpools:
    - count: {{ mcsp_worker_count }}
      flavor: "{{ mcsp_worker_flavor }}"
      id: default         
  account:
    secretname: "{{ mcsp_platform_account_secret_name }}"
  addon:

    # Required addon, config must be present
    argocd:
      config:
        argoprojects:
          - argoprojectname: "{{ mcsp_argocd_project_name }}"
            destinationnamespace: '*'
        argourl: "{{ mcsp_argocd_api }}"
        cluster:
          argoprojectname: "{{ mcsp_argocd_project_name }}"
          global: false
      enabled: true
      secrets:
        argo: "{{ mcsp_argocd_secret_name }}"

    # Required addon, config must be present
    idpverify:
      enabled: {{ mcsp_idpverify_enabled }}
      config:
        mcspaccess: true
        issuer: https://sre-ibm-prod.verify.ibm.com/oidc/endpoint/default
        clusterrolebindings:
          - groups:
              {{ mcsp_idpverify_groups_clusteradmin }}
            roleref: cluster-admin
          - groups:
              {{ mcsp_idpverify_groups_viewer }}
            roleref: viewer
      secrets:
        verify: "{{ mcsp_idpverify_secret_verify_name }}"
    security:
      enabled: {{ mcsp_security_enabled }}
      config: 
        crowdstrike:
          version: v1.0.4
          memlimit: 2Gi
          tolerations: 
            - key: samplekey
              operator: Exists
              effect: NoSchedule

    # Required addon, config must be present
    logforwarder:
      enabled: {{ mcsp_logforwarder_enabled }}
      config:
        usecloudwatch: "true"
        useinfralogs: "true"
        useauditlogs: "true"
        useapplogs: "true"
        cloudwatchregion: "{{ mcsp_region }}"
        cloudwatchgroupprefix: "mascluster"
      secrets: 
        dlc-cert: "{{ mcsp_logforwarder_secret_dlc_name }}"
        syslog-forwarder: "{{ mcsp_logforwarder_secret_sf_name }}"

{% if mcsp_kubeturbo_enabled %}
    kubeturbo:
      config:
        turboServer: "{{ mcsp_kubeturbo_turbo_server }}"
        turboVersion: {{ mcsp_kubeturbo_turbo_version }}
      enabled: true
      secrets:
        kubeturbo: "{{ mcsp_kubeturbo_secret_kubeturbo_name }}"
{% endif %}

{% if mcsp_imagepullsecret_enabled %}
    imagepullsecret:
      config: {}
      enabled: true
      secrets:
          # map list of secret names to format expected by imagepullsecrets addon
          # e.g. ["a", "b"] -> {"a": "a", "b": "b"}
        {{ dict(mcsp_imagepullsecret_secret_names | zip(mcsp_imagepullsecret_secret_names)) }}
{% endif %}

{% if mcsp_promtail_enabled %}
    promtail:
      config:
        lokiURL: "{{ mcsp_promtail_loki_url }}"
        tlsinsecureskipverify: "{{ mcsp_promtail_loki_tlsinsecureskipverify | string | lower }}"
        imagetag: "{{ mcsp_promtail_loki_imagetag }}"
      enabled: true
      secrets:
          promtail: "{{ mcsp_promtail_secret_name }}"
{% endif %}

  actions: 
    reconcile: true
    donotreconcile: false
    allowdeletion: false
    hibernate: false